<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/messages.css' />
    <script src="/javascripts/messages.js"></script>
  </head>
  <body onload ="process()">

      
        <div id="left-sidebar">
              <div id="header">
                <h1><%= title %></h1>
                <% include ../templates/header %>
                </div>
            <% include ../templates/nav %>
        </div>
        
        <div id="main-content">
          <% include ../templates/live_graph %>

        </div>

        <div id="right-sidebar">
        <divid id ="theD"/>
        
        </div>

  </body>
</html>
